[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "douban"

[dev-packages]
invoke = "*"
bumpversion = "*"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"
mock = "*"
twine = "*"
coverage = "*"
coveralls = "*"
pylint = "==1.9.3"

[packages]

[requires]
